ul li a {
    font-size-adjust: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 40px;
}

nav {
    background-color: rgb(73, 59, 40) ;
    padding-top: -1%;
}

.action-cards{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 1700px;
    align-items: center;
    background-position: center;
    padding: 0vw 10vw 0vw 10vw;
    padding-top: 10%;
}
.card-title{
    font-weight: bold;
}



.footer {
    background: rgb(73, 59, 40);
    padding: 5px;
    margin-top: 10px;
    color: white;
    text-align: center;
}

.col-sm-4 {
    padding-top: 1%;
    margin-top: 5%;
    background-color: burlywood;
    border: 1px white solid;
    display: inline-block;
    text-align: center;
    margin-left: 30%;
    padding-bottom: 3%;
   
}

#action-btn {
    background-color: rgb(53, 83, 250);

}











  

